@font-face {
    font-family: 'Montserat Regular';
    src: url('../assets/fonts/montserat/MontserratAlternates-Regular.otf') format( 'opentype');
}

@font-face {
    font-family: 'Montserat Light';
    src: url('../assets/fonts/montserat/MontserratAlternates-Light.otf') format( 'opentype');
}

@font-face {
    font-family: 'Montserat Black';
    src: url('../assets/fonts/montserat/MontserratAlternates-Black.otf') format( 'opentype');
}

@font-face {
    font-family: 'Montserat Bold';
    src: url('../assets/fonts/montserat/MontserratAlternates-Bold.otf') format( 'opentype');
}

@font-face {
    font-family: 'Montserat Semi-Bold';
    src: url('../assets/fonts/montserat/MontserratAlternates-Semi-Bold.otf') format( 'opentype');
}